*{
   
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 1080px;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    text-align:right;
}
h1{
    font-size: 70px;
    padding: 50px;
    padding-top: 300px;
    padding-right: 300px;
}
p{
    font-size: 20px;
    padding-right: 300px;
}
button{
    font-size: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-right: 300px;
    border-radius: 10px;
}

section{
    display: flex;
}
div{
    padding: 200px;
    padding-top: 0px;
}
h2{
    font-size: 50px;
    padding-bottom: 50px;
}
article{

    padding: 100px;
    margin:200px;
    margin-top: 0;
    background-image:url(images/watch.png),linear-gradient(to right, rgb(5, 29, 240), rgba(184, 188, 212,0));
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-size:cover;
}

footer{
    padding-top: 100px;
    background-color: bisque;
    display: flex;
}
input{
    font-size: larger;
    padding: 20px;
}